*{
    padding: 0px;
    margin: 0px;
    font-family: 微軟正黑體,標楷體;
    line-height: 3rem;
    
}

h1,h2,h3,.C1{
  text-align: left;
  color: rgb(35, 35, 35);
}

h1{
    font-size: 2rem;
    color: #2b7438;
}

h2{
    font-size: 1.5rem;
    color: #173d1e;
}

h3{
    font-size: 1.3rem;
    color: #173d1e;
}

p{
    font-size: 1.125rem;
    line-height: 1.5rem;
}

hr{
  margin: 1rem 0;
}

a:link {
    text-decoration: none;
    color: rgb(49, 49, 49);
  }
  
  a:visited {
    text-decoration: none;
    color: rgb(49, 49, 49);
  }
  
  a:hover {
    text-decoration: none;
    color: rgb(14, 66, 30);
  }
  
  a:active {
    text-decoration: none;
    color: rgb(49, 49, 49);
  }

  .L1{
		background: hsl(60, 100%, 100%);
		border-radius: 40px;
		margin: 1.5rem 0rem;
		padding: 2rem 0rem ;
	}

  .box{
		margin: 1.5rem 1.5rem;
		padding: 1.5rem 0rem ;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 使容器占满整个视口高度 */
	}

  .Time{
		margin: 1rem 0;
		padding: 0.1rem 0rem ;
	}

  @media screen and (min-width : 1024px ){
    h1{
      font-size: 3rem;
      line-height: 4rem;
    }
    h2 {
			font-size: 2rem;
			line-height: 3rem;
		}

		p {
			font-size: 1.3rem;
			line-height: 2.5rem;
		}
  }