---
import Layout from "@layouts/Layout.astro";
import {Content as AboutWebside} from '@posts/about.md';
---

<Layout title="關於網站" >
	<div class="box">
		<h1 >關於網站</h1>
		<div class="box">
			<AboutWebside/>
		</div>
	</div>
	
	
</Layout>

