---
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro';
import '../styles/global.css';
---
<Layout title="告訴你一個秘密"  >

	<!-- 最新資訊 -->
	<div class="L2" id="New1">
		<h1>最新資訊</h1>
		<div class="L2">
			<p id="New2">暫無資訊和活動</p>
		</div>
		
	</div>

	<!-- 常用連結 -->
		<div class="L2" id="New2">
			<h1>常用連結</h1>
			<!-- <p>My page content, wrapped in a layout!</p> -->
			<div>
				<p class="C1">大葉連結區</p>

				<div >

					<Button href="https://www.dyu.edu.tw/" >大葉大學 </Button>
					<Button href="https://bulletin.dyu.edu.tw/index.php?pool_ID=1&isHidden=1&goBack=1" >最新消息 </Button>
					<Button href="https://www.dyu.edu.tw/calen.php" >行事曆</Button>
					<Button href="http://icourse.dyu.edu.tw/" >icourse</Button>
					<Button href="https://icloud.dyu.edu.tw/loginbox.php" >icloud</Button>
					<Button href="https://sis.dyu.edu.tw/RWD/index.html" >學生資訊系統</Button>
					<Button href="http://cs.dyu.edu.tw/1000.php" >選課系統</Button>
					<Button href="http://163.23.1.52/dorm_oapply/main.php" >住宿申請</Button>
				</div>	
			</div>
		</div>

		<!-- 關於網站 -->
		<div class="L2" >
			<h1>關於網站</h1>
			<div class="L2">
				<p>本網站主旨為電子布告欄<br>
					感謝各位支持!!!!!</p>
				
			</div>

	</div>

</Layout>

<style >

	.C1{
		color: rgb(87, 87, 87);
		font-size: 1rem;
		margin: 1rem ;
		
		
	}

	p{
		font-size: 0.875rem;
	}

	@media screen and (max-width: 576px) {
		.BG {
			/* background: rgb(60, 60, 31); */
			display: grid;
			width: 80%;
		}
		
	}

	@media screen and (min-width: 768px) {
		p {
			/* background: orange; */
			font-size: 1rem;
			line-height: 2rem;
		}
		.C1{
			position: relative;
			left:10rem;
		}
	}

	@media screen and (min-width : 1024px ){
		p {
			/* background: orange; */
			font-size: 1.3rem;
			line-height: 2.5rem;
		}
	}

</style>
