---
import Layout from "@layouts/Layout.astro";
import {Content as Webdaily} from '@posts/webdaily.md';
---

<Layout >
	<div class="box">
		<h2>網站更新日記</h2>

		<div id="webdaily">
            <Webdaily/>
		</div>
	</div>
	
	
</Layout>

<style>
    #webdaily{
        margin: 1rem 0;
		text-align: left;
    }
</style>

