---
interface Props{
	title?:string;
    content?:string;
    href?:string;
}

const { title="告訴你一個秘密" , content="內容介紹" ,href} = Astro.props as Props;
---

<a href={href}>
    <div>
        <slot/ >
        <h1>{title}</h1>
        <p>{content}</p>
    </div>
</a>