---

---

<footer class="f1">
    <p>Copyright &copy; 告訴你一個秘密 2024</p>
</footer>

<style>
	
	.f1{
        bottom: 0.1em;
        padding: 1rem 1rem 2rem;
		margin: 0 0 2rem;
	}

    p{
		margin: 0.3rem 1rem;
		font-size: 0.875rem;
		text-align: center;
		color: rgb(242, 242, 242);
		/* background-color: rgb(107, 93, 93); */
	}

  </style>