---
import '../styles/global.css';
---


<div class="d1" id="F1">
	<a href="/"><img id="g1"src="/Hedgehog.png" alt="刺蝟" >
    <h1>告訴你一個秘密</h1></a>
</div>



<style>
	#F1{
		position: relative;
		top:0.8rem;
		left:0.5rem;
	}

	.d1{
		display: flex;
		width: 100%;
		/* background-color: rgb(152, 204, 194); */
	}

	h1{
		margin: 0.3rem 1.5rem;
		font-size: 1.1rem;
		position: relative;
  		top: 0.1rem;
 		left: 3.5rem;
		color: rgb(255, 255, 255);
		/* background-color: rgb(107, 93, 93); */
	}

	#g1{
		margin: 0.5rem 0.5rem;
		position: absolute;
  		top: 0.1rem;
 		left: 0.5rem;
		width: 50px;
		border-radius: 50%;
		background: #ffffff;
	}

  </style>
