---

---

<div class="b1" >
    <a href='/update/'><p>最近更新時間 : 2024 - 8 - 24</p></a>
  </div>
  
  <style>
      
      .b1 {
          background-color: #ffffff;
          border:  3px solid #a6bad2; 
          padding: 0.5rem 1rem;
          margin: 0.5rem 0.5rem;
          display: inline-block;
          cursor: pointer;
          border-radius: 0.8rem;
          /* box-shadow: 0 5px 5px 0 rgba(48, 45, 45, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
      }
  
      p{
        color:rgb(122, 122, 122);
        font-size: 1rem;
      }
      
      @media screen and (max-width: 576px) {
          .b1 {
              /* background: rgb(60, 60, 31); */
              margin: auto;
          }
          
      }
    </style>
  