---

---

<div class="button-container">
    <slot /> 
</div>

<style>

    .button-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 16px;
            max-width: 800px; /* 控制最大宽度 */
            width: 100%; /* 确保容器宽度适应屏幕 */
            padding: 20px;
        }

</style>