---

---

<div class="button-container">
    <slot /> <!-- This will render the button elements passed into the layout -->
</div>

<style>

    .button-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

</style>